
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenidos al sistema de turnos de peluqueria canina</h2>
<p>
    @Html.ActionLink("Ir a Turnos", "Index", "Turno")
</p>

@section SideBar{
    <p>Otro menú</p>
    <ul>
        <li><a href="/home/About">About</a></li>
        <li>@Html.ActionLink("Ir a About", "About", "Home")</li>
        <li><a href="#Link1">Link1</a></li>
        <li><a href="#Link2">Link2</a></li>
        <li><a href="#Link3">Link3</a></li>
        <li><a href="#Link4">Link4</a></li>
    </ul>
}
