<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="caja1"></div>

        <div class="caja2">
            <header></header>
            <div class="caja3">
                <div class="caja4">
                    @RenderBody()
                </div>
                <div class="caja5"></div>
            </div>
        </div>

    </div>
</body>
</html>
