* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
 
   
}
body{
    width:750px;
}
header{
    background-color:gray;
    height:250px;
    display:flex;
}
.cajaNav1{
    width:500px;
    height:250px;
    background-color:lightslategray;
    display:flex;
    flex-direction:column;
}
.cajaNav2{
    width:250px;
    height: 250px;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
}
.cajaLogo{
    width:100%;
    height:125px;
    background-color:springgreen;
}
.cajaLogin {
    width: 100%;
    height: 125px;
    background-color: lightgray;
}
nav{
    height:50px;
    background-color:aquamarine;
}
main{
    display:flex;
    background-color:cadetblue;
    height:400px;
}
article {
   width:500px;
    background-color: chocolate;
    padding: 20px;
    box-sizing: border-box;
}
aside{
    width:250px;
    background-color:darkkhaki;
    padding:50px;
    box-sizing:border-box;
}
footer{
    height:50px;
    background-color:darkseagreen;
}