<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <nav></nav>
    <section>
    <aside></aside>
    <div class="container">
        @RenderBody()
    </div>
    <aside></aside>
    </section>
    <footer></footer>
</body>
</html>
