
@model  PhotoSharingApplication.Models.Photo

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Photo</title>
</head>
<body>
    <div>
        <h2>Create New Photo</h2>
        @using (Html.BeginForm("Create", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

        @Html.ValidationSummary(true)
        }
    </div>
</body>
</html>
