*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

nav{
    background-color:lightsteelblue;
    height:150px;
}
section{
    display:flex;
    width:100%;

}
aside{
    background-color:dimgrey;
    width:20%;
}
.container {
    background-color: lightgray;
    height: 400px;
    width:60%;
    padding: 5%;
    
}
footer{
    background-color:orange;
    height:50px;
}